    /*Police*/
@font-face {
    font-family: "relaway";
   
    src: url(polices/Raleway-VariableFont_wght.ttf)
}

@font-face {
    font-family: "relaway-italic";
    src: url(polices/Raleway-Italic-VariableFont_wght.ttf);
}
    /*Fin Police*/

    /*Global*/

body{
    font-family: Relaway;
    margin: auto;
    max-width: 1500px;
    
}

#blockpage{
    margin: 0px 40px;
}

a{
    text-decoration: none;
    color: black;
}

    /*Fin Global */

    /* Header */

#ligne{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nd{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ligne img{
    height: 40px;
    width: 100px;
}

#pstrong{
    font-size: 22px;
}


.navchoice{
    margin-top: 0px;
}

header nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.navchoice {
    padding-right: 25px;
    text-decoration: none;
    padding: 30px 20px;
    border-top: solid 4px transparent;
}

.insc{
    color: #0065FC;
}

.navchoice-mob1{
    color: #0065FC;
    border-top: #0065FC solid 4px;
}

    /* Barre de recherche */

#btn2{
    display: none;
}

#searchbar{
    display: flex;
    align-items: center;
}

.fa-map-marker-alt{
    border: 1px solid transparent;
    background-color: #F2F2F2;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;    
}

#barre{
    height: 38px;
    border:#F2F2F2 2px solid;
    border-right: none;
    padding-left: 10px;
    font-weight: bolder;
}

#btn{
    height: 38px;
    border:transparent;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

    /* Fin Barre de recherche */

    /* filtres*/ 

*{
    box-sizing: border-box;
  }

#filtres{
    list-style: none;
    display: flex;
    align-items: center;
}


#filtres i{
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #0065FC ;
    font-size: 20px;
    border-radius: 100%;
    text-align: center;
    font-weight: bolder;
    height: 50px;
    width: 50px;;
}

#filtres li{
    display: flex;
    align-items: center;
    height: 50px;
    border: 3px solid #F2F2F2;
    border-radius: 32px;
    padding: 0px;
    padding-right: 20px ;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 20px;
    box-shadow: 0px 0px transparent;
    transition: box-shadow 0.5s;
    
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 60px;
    height: 50px;
}

#filtres ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#filtres i{
    
    background:#DEEBFF  15px;
    padding: 15px;
    border-radius: 100%;
    margin: -3px;
    margin-right: 10px;
}

.fa-child{
    width: 50px;
}

#filtres li:hover{
 box-shadow: 5px 5px #888888;
}

    /*Fin Filtres*/

    /*Fin Header*/

    /*section n°1*/

#barre-info{
    display: flex;
    align-items: center;
}

#icon-info{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    margin-right: 15px;
    padding: 10px;
    height: 32px;
    width: 32px;
}

.fa-info{
    color: #0065FC ;
    background: transparent;
    text-align: center;
}


#hebergements #corps{
    display: flex;
    gap: 20px;
   
}

#corps > * {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 30px;
}

#corps article{
    width: 70%;
}

#corps aside{
    width: 30%;
}

#cards1{
    display: flex;
    
    gap: 30px;
    justify-content: space-between;
}

#cards22{
    display: flex;
    flex-wrap: wap;
    gap: 30px;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    padding: 5px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    flex:1;
}
.card-img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    
    border-radius: 20px 20px 0 0;
}

.card-content {
    padding: 0 10px;
    
}

h3{
    font-size: 16px;
    font-weight: 700;
    margin: 5px 0px;
}

.fa-star {
color: #0065FC;
}

.fa-star.disabled {
    color: #ddd;
}


#cards2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-pop{
    object-fit: cover;
    border-radius: 20px 0px 0 20px;
    width: 120px;
    height: 120px;
}


section p{
    padding-top: 0px;
    margin: 5px 0px;
    font-weight: bolder;
}

#cards2 .card{
    display: flex;
}

#populaires-titre{
    display: flex;
    justify-content: space-between;
}

#cards2 h3{
    margin-top: 0px;
}

.card-content2{
    padding-left: 20px;
}

article > p{
    padding-top: 20px;
}

#barre-info{
    padding-bottom: 30px;
}

.card-content2{
    display: flex;
    flex-direction: column;
}

.espace{
    flex: 1;
}

.fa-star{
    padding-bottom: 10px;
}
    /* fin section n°1*/


    /*section2*/

#activites{
    display: flex;
    flex-direction: column;
  
}

.act-card{
    display: flex;
    gap: 40px;
}

.card-coupe{
    flex: 1;
    height: 500px;
    
}


.Activites-Card {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.coupe{
    flex: 1;
}

.Activites-Card-Image1{    
    height: 450px;
}

.Activites-Card-Image2{
    height: 210px;
}

.Activites-Card-Image3{
    height: 130px;
}

.Activites-Card-Image4{
    height: 170px;
}


.Image-Activites{
    
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Activites-Card2{
    margin-bottom: 60pX;
    height: 260;
}

.Activites-Card3{  
    height: 240;
}

.Activites-Card4{
    margin-top: 60pX;
    height: 260;
}

#activites h3{
    margin: 15px 15px;
}

.card-entier{
    flex: 1;
}

.pp{
    display: flex;
    gap: 40px;
}

    /*section2*/

    /*footer*/

footer{
    background-color: #F2f2f2;
}

.content-footer{
    display: flex;
    margin: 0px 40px;
    margin-top: 60px;
}

footer div{
    margin-right: 50px;
}

#a-propos  {
    width: 30%;
}

#nos-hebergements{
    width: 30%;
}

#assistance{
    width: 30%;
}

.card-content2{
    flex-wrap: wrap;
}

.footer-bloc{
    width: 30%;
}

    /*footer*/


    /*MediaQueries*/

@media only screen and (min-width:768px) and (max-width: 1250px) {
    #corps{
        display: flex;
        flex-direction: column-reverse;
    }
    .card-pop{
        width: 300px;
    }
    
    #corps aside{
        width: 100%;
    }

    #corps article{
        width: 100%;
    }
    #cards1{
        flex-direction: column;
        flex: 1;
    }
    #cards22{
        flex-direction: column;
        flex: 1;
        margin-top: 0;
    }
    .hebergement-cardcontent{
        display:flex;
        justify-content: space-evenly;
        gap: 20px;
    }
    
    .act-card{
        flex-direction: column;
        gap: 40px;
    }
    .Activites-Card-Image2{
        height: 170px;
    }
    
    .Activites-Card-Image3{
        height: 170px;
    }
        
}

@media only screen and (max-width: 768px) {
    #blockpage{
        margin: 0px;
    }
    #barre{
        width: 100%;
    }

    #barre-info{
        padding: 0px 30px;
    }
    .headerdown{
        padding: 0px 30px;
    }
    
    #filtres{
        flex-direction: column;
        align-items:flex-start;
    }
   
    .wrap#filtres ul{
        flex-wrap: wrap; 
    }

    #filtres ul{
        flex-wrap: wrap;    
        justify-content: flex-start;
        padding: initial;
    }
    
    #corps{
        flex-direction: column-reverse;

    }

    #corps aside{
        width: 100%;
    }

    #corps article{
        width: 100%;
        background-color: white;
    }
    #cards {
        display: flex;
        flex-direction: column-reverse;
    }
    #activites{
        padding: 30px;
        row-gap: 32px;
    }
    .content-footer{
        flex-direction: column;

    }
    .footer-bloc{
        width: 100%;
    }
    
    
  
    #btn2{
        display: block;
        height: 38px;
        width: 40px;
        border: transparent;
        background-color: #0065FC;
        color: white;
        border-radius: 10px;
        cursor: pointer;
    }

    #btn{
        display: none;
    }
   
    .navchoice-mob1{
        color: #0065FC;
        border-bottom: #0065FC solid 3px;
    }
    
    .navchoice-mob2{
        
        border-bottom: #F2F2F2 solid 3px;
    }

    #ligne{
        display: block;
    }

    .imglogo{
        display: flex;
        justify-content: center;
    }

    .navchoice{
        border-top: none;
        padding-bottom: 15px ;
    }

  

    .nd a {
        width: 50%;
        display: flex;
        justify-content: center
    }

    #cards1{
        flex-direction: column;
    }

    #cards22{
        flex-direction: column;
    }

    .act-card{
        flex-direction: column;
    }

    .Image-Activites{
        height: 120px;
    }

    .Activites-Card-Image2{
        height: auto;
    }

    .Activites-Card-Image1 {
        height: auto;
    }

    .Activites-Card-Image3{
        height: auto;
    }

    .Activites-Card-Image4 {
        height: auto;
    }

    .Activites-Card4{
        margin-top: 20px;
    }
    .Activites-Card2{
        margin-bottom: 20px;
    }


    .coupe{
        flex: 0;
    }

    .card-entier{
        flex: 0;
    }

    .pp{
        flex-direction: column;
    }
}


    /* Fin MediaQueries*/