/*Police*/
@font-face {
    font-family: "relaway";
   
    src: url(polices/Raleway-VariableFont_wght.ttf)
}

@font-face {
    font-family: "relaway-italic";
    src: url(polices/Raleway-Italic-VariableFont_wght.ttf);
}

/* Global */

body{
    font-family: Relaway;
    margin: 0px;
    
}

#blockpage{
    margin: 0px 40px;
}

a{
    text-decoration: none;
    color: black;
}


/* Header */


#ligne{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nd{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ligne img{
    height: 40px;
    width: 160px;
    margin-left: -35px;
}

#pstrong{
    font-size: 22px;
}

.navchoice-mob1:hover{
    color: #0065FC;
    border-top: #0065FC solid 4px;
}

.navchoice-mob2:hover{
    color: #0065FC;
    border-top: #0065FC solid 4px;
}



.navchoice{
    margin-top: 0px;
}

header nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.navchoice {
    margin-right: 25px;
    text-decoration: none;
    padding: 30px 20px;
    border-top: solid 4px transparent;
}

.insc{
    color: #0065FC;
}


/* Barre de recherche */

#btn2{
    display: none;
}

#searchbar{
    display: flex;
    align-items: center;
}



.fa-map-marker-alt{
    border: 1px solid transparent;
    background-color: #F2F2F2;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    
}

#barre{
    height: 38px;
    border:#F2F2F2 2px solid;
    border-right: none;
    padding-left: 10px;
    font-weight: bolder;
    
}

#btn{
    height: 38px;
    border:transparent;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}




/* filtres*/ 

*{
    box-sizing: border-box;
  }

#filtres{
    list-style: none;
    display: flex;
    align-items: center;
}


#filtres i{
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #0065FC ;
    font-size: 20px;
    border-radius: 100%;
    text-align: center;
    font-weight: bolder;
    height: 50px;
    width: 50px;;
}

#filtres li{
    display: flex;
    align-items: center;
    height: 50px;
    border: 3px solid #F2F2F2;
    border-radius: 2rem;
    padding: 0px;
    padding-right: 20px ;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 20px;
    box-shadow: 0px 0px transparent;
    transition: box-shadow 0.5s;
    
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 60px;
    height: 50px;
}

#filtres ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

#filtres i{
    
    background:#DEEBFF  15px;
    padding: 15px;
    border-radius: 100%;
    margin: -3px;
    margin-right: 10px;
}

.fa-child{
    width: 50px;
}

#filtres li:hover{
 box-shadow: 5px 5px #888888;

}


/*section n°1*/




#barre-info{
    display: flex;
    align-items: center;
    
    
}

#icon-info{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    margin-right: 15px;
    padding: 10px;
    height: 2rem;
    width: 2rem;
}

.fa-info{
    color: #0065FC ;
    background: transparent;
    text-align: center;
}


#hebergements #corps{
    display: flex;
    gap: 20px;
   
}

#corps > * {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 30px;
}

#corps article{
    width: 70%;
}

#corps aside{
    width: 30%;
}

#cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    padding: 5px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
.card  img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    
    border-radius: 20px 20px 0 0;
}

.card-content {
    padding: 0 10px;
    
}

h3{
    font-size: 1rem;
    font-weight: 700;
    margin: 5px 0px;
}

.fa-star {
color: #0065FC;
}

.fa-star.disabled {
    color: #ddd;
    }


#cards2{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 30px;
    }

#cards2 img{
    object-fit: cover;
    border-radius: 20px 0px 0 20px;
    width: 120px;
}


section p{
    padding-top: 0px;
    margin: 5px 0px;
}

#cards2 .card{
    display: flex;
}

#populaires-titre{
    display: flex;
    justify-content: space-between;
}

#cards2 h3{
    margin-top: 0px;
}

#cards2 .card > div{
    padding-left: 20px;
}

article > p{
    padding-top: 20px;
}

#barre-info{
    padding-bottom: 30px;
}

.card-content2{
    display: flex;
    flex-direction: column;
}

.espace{
    flex: 1;
}

/*section2*/

#activites{
    display: grid;
    column-gap: 30px;
    margin: 40px 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 10rem 30px 30px 30px 10rem;
}
@media only screen and (min-width: 601px) {
    .Activites-Card1 {
        grid-row: 2/7;
        grid-column: 1/2;
    }
    .Activites-Card2 {
        grid-column: 2/3;
        grid-row: 2/5;
    }
    .Activites-Card3{
        grid-column: 3/4;
        grid-row: 2/7;
    }
    .Activites-Card4{
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .Activites-Card5{
        grid-column: 2/3;
        grid-row: 6/7;
    }
    .Activites-Card6{
        grid-column: 4/5;
        grid-row: 4/7;
    }
}



.Activites-Card {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

.Activites-Card-Image{
    position: relative;
    flex: 1;
}


.Image-Activites{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#activites h3{
    margin: 15px 15px; 
}

.fa-star{
    padding-bottom: 10px;
}
    /*footer*/

footer{
    background-color: #F2f2f2;
}

.content-footer{
    display: flex;
    margin: 0px 40px;
    margin-top: 60px;
}

footer div{
    margin-right: 50px;
}

#a-propos  {
    width: 30%;
}

#nos-hebergements{
    width: 30%;
}

#assistance{
    width: 30%;
}


@media only screen and (min-width:601px) and (max-width: 1300px) {
    #corps{
        flex-direction: column-reverse;
    }
    #cards2{
        display: flex;
    }
    #corps aside{
        width: 100%;
    }

    #corps article{
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #filtres{
        flex-direction: column;
        align-items:flex-start;
    }
   
    .wrap#filtres ul{
        flex-wrap: wrap; 
    }

    #filtres ul{
        flex-wrap: wrap;    
        justify-content: flex-start;
        padding: initial;
    }
    
    #corps{
        flex-direction: column-reverse;

    }

    #corps aside{
        width: 100%;
    }

    #corps article{
        width: 100%;
        background-color: white;
    }
    #cards {
        display: flex;
        flex-direction: column-reverse;
    }
    #activites{
        padding: 30px;
        row-gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
    }
    .content-footer{
        flex-direction: column;

    }
    .footer-bloc{
        width: 100%;
    }
    .insc{
        order: 1;
    }
    .nav-menu{
        order: 2;
    }

    .nav{
        order:2;
    }
    
    header nav{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #btn2{
        display: block;
        height: 38px;
        width: 40px;
        border: transparent;
        background-color: #0065FC;
        color: white;
        border-radius: 10px;
        cursor: pointer;
    }

    #btn{
        display: none;
    }
    /*
    #ligne{
        flex-wrap: wrap;
    }
        */
    .nd{
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .nav-menu{
        display: flex;
        justify-content: space-between;
    }

    .navchoice-mob1:hover{
        color: #0065FC;
        border-bottom: #0065FC solid 4px;
    }
    
    .navchoice-mob2:hover{
        color: #0065FC;
        border-bottom: #0065FC solid 4px;
    }
    .headerbloc{
        display: flex;
        flex-wrap: wrap;
    }
}