/*Police*/
@font-face {
    font-family: "relaway";
   
    src: url(polices/Raleway-VariableFont_wght.ttf)
}

@font-face {
    font-family: "relaway-italic";
    src: url(polices/Raleway-Italic-VariableFont_wght.ttf);
}

/* Global */

body{
    font-family: Relaway;
    margin: 0px 40px;
}

a{
    text-decoration: none;
    color: black;
}

.fas{
    background-color: #DEEBFF;
}


/* Header */


#ligne{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img{
    height: 40px;
    width: 160px;
    margin-left: -35px;
}

#pstrong{
    font-size: 22px;
}

nav ul{
    margin: 0px;
}

.navchoice:hover{
    color: #0065FC;
    border-top: #0065FC solid 4px;
}


.navchoice li{
    margin-top: 0px;
}

header ul{
    display: flex;
    list-style: none;
}

header li{
    margin-right: 25px;
    text-decoration: none;
    padding: 30px 20px;
    border-top: solid 4px transparent;
}

/* Barre de recherche */

#searchbar{
    display: flex;
    align-items: center;
}



.fa-map-marker-alt{
    border: 1px solid transparent;
    background-color: #F2F2F2;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    
}

#barre{
    height: 38px;
    border:#F2F2F2 2px solid;
    border-right: none;
    padding-left: 10px;
    font-weight: bolder;
    
}

#btn{
    height: 38px;
    border:transparent;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}


#insc{
    color: #0065FC;
}


/* filtres*/ 

*{
    box-sizing: border-box;
  }

#filtres{
    list-style: none;
    display: flex;
    align-items: center;
}


#filtres i{
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #0065FC ;
    font-size: 20px;
    border-radius: 100%;
    text-align: center;
    font-weight: bolder;
    height: 50px;
    width: 50px;;
}

#filtres li{
    display: flex;
    align-items: center;
    height: 50px;
    border: 3px solid #F2F2F2;
    border-radius: 2rem;
    padding: 0px;
    padding-right: 20px ;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 10px;
    
}

.icon{
    display: flex;
    
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

#filtres ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#filtres i{
    
    background:#DEEBFF  15px;
    padding: 15px;
    border-radius: 100%;
    margin: -3px;
    margin-right: 10px;
}


/*section*/

#corps{
    display: flex;
    justify-content: space-between;
}




/*footer*/

footer{
    background-color: #F2f2f2;
    display: flex;
}

footer div{
    margin-right: 50px;
}